body {
  margin: 0;
  font-family: sans-serif;
}

/* Header */
.header {
  background-color: #001f54;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.hamburger {
  width: 20px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
