* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #001f54;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #fcf0ff;
  width: 35rem;
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 2;
}

h1 {
  margin-bottom: 2rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}

.form-group p {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  border: none;
  border-bottom: 2px solid #333;
  background: transparent;
  height: 2rem;
  font-size: 1rem;
  padding: 0.5rem 0;
  outline: none;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.password-wrapper img {
  width: 20px;
  height: 20px;
}

.border {
  text-decoration: none;
  text-align: center;
  border: none;
  width: 30rem;
  margin-top: 3rem;
  background: none;
  border: 2px solid #333;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.3s ease;
  color: #333;
}

.border:hover {
  background-color: #4169e1;
  color: #ffffff;
}

.container-1 {
  margin-top: 2rem;
  text-align: center;
}

.container-1 a {
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  transition: 0.3s ease;
}

.container-1 a:hover {
  font-weight: bold;
  transform: scale(1.05);
}

.container-1 p {
  margin: 1rem 0;
  color: #555;
}
.box-a {
  width: 30rem;
  margin-top: 3rem;
  background: #191970;
  border: 2px solid #333;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.3s ease;
  color: #ffffff;
}
.box-b {
  width: 30rem;
  margin-top: 3rem;
  background: none;
  border: 2px solid #333;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.3s ease;
  color: #333;
}
.sign-up {
  margin-top: 2rem;
}
.background-image {
  position: fixed;
  top: 50%;
  left: 75%;
  transform: translate(-70%, -50%);
  width: 20rem;
  height: auto;
  z-index: 1;
  opacity: 0.5;
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(-50%) translateX(0);
  }
  50% {
    transform: translateY(-60%) translateX(0);
  }
}
